{% load widget_tweaks %}
{% csrf_token %}

{% for error in form.non_field_errors %}
    <p class="form-error">{{ error }}</p>
{% endfor %}

{% for field in form %}
    <div class="form-group">
    <p><label for="{{ field.id_for_label }}">{{ field.label }}
       {% if field.field.required %}
           <span class="field_required">*</span>
       {% endif %}
    </label></p>
    {% if field.errors %}
        <p>{{ field|add_class:'field_error form-control' }}</p>
    {% else %}
        <p>{{ field|attr:"rows:3"|add_class:'form-control w-50' }}</p>
    {% endif %}
    {% for error in field.errors %}
       <p class="form-error">{{ error }}</p>
    {% endfor %}
    </div>
{% endfor %}

<p><input type="submit" value="{{button_text}}"></p>
