<div class="pagination">
    <span class="step-links">
        <a href="?page=1">Start</a>
        {% if page_obj.has_previous %}
            <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">Back</a>
        {% else %}
            <span class="page-disabled">Back</span>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.next_page_number }}">Forward</a>
        {% else %}
            <span class="page-disabled">Forward</span>
        {% endif %}
        <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.paginator.num_pages }}">End</a>
    </span>
</div>